/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}
header{
    margin-bottom: 80px;
}
.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
}

/* styles.css */

.image-upload-content .container {
  max-width: 500px;
  margin: 0 auto;
}

.image-upload-content .upload-form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.image-upload-content .form-group {
  margin-bottom: 20px;
}

.image-upload-content label {
  display: block;
  font-weight: bold;
}

.image-upload-content input[type="file"] {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.image-upload-content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-upload-content button:hover {
  background-color: #0056b3;
}

.login_form{
  margin-top: 20px;
}