{% load static %}
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid p-0" style="background-color: #F2F3F4">
    <!-- Footer -->
    <footer class="text-start text-dark pt-2 ">


      <!-- Section: Links  -->
      <section >
        <div class="container text-start text-md-start mt-3 pt-3">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <img class="img-fluid rounded pb-4" src="{% static 'images/images.jfif' %}" alt="logo" srcset="" width="100px" height="100px">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold footer-company-name pb-2" style="color: #8576FF;">Research Lab</h6>
              <p>
                Jashore University of Science and Technology (JUST),
                Jashore -7478
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4 footer-heading" style="color: #8576FF;">Office Address</h6>
              <!-- <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" /> -->
              <div href="#" class="footer-link text-nowrap">
                <p> Department of Genetic Engineering and Biotechnology
                  <br>
                  Jashore University of Science and Technology (JUST)
                  <br>
                  Jashore -7478
                </p>
              </div>
             
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2  mb-4 ">
              <!-- Links -->
              {% comment %} <div class="ps-lg-4">
                    <h6 class="text-uppercase fw-bold mb-4 footer-heading" style="color: #8576FF;">Registered Address</h6>
                    <div href="#" class="footer-link">
                          <p> Puraton Kashba <br>Goshpara, Jashore<br>Sadar, Jashore - 7400</p>
                    </div>
              </div>
              </a> {% endcomment %}

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-3">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4 footer-heading" style="color: #8576FF;">Hotline</h6>
              <p><i class="fas fa-envelope mr-3" style="margin-right: 13px;"></i> <a href="#"
                  class="footer-link">info.researchlab@gmail.com</a></p>
              <p><i class="fas fa-phone mr-3" style="margin-right: 13px;"></i> <a href="#" class="footer-link">+880 9645900119</a></p>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->


      <!-- Copyright -->
      <div class="text-center pb-4" style="background-color: #F2F3F4">
        Copyright © <span id="year"></span> RESEARCH LAB AUTHORITY, JUST. <br> All rights reserved
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </div>

  
  <script>
  
    let date = new Date();
    document.getElementById('year').innerText = date.getFullYear();
  
  </script>