<header>
    {% load static %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
        <div class="container">
            <a class="navbar-brand" href="{% url 'lab_app:home_page_view' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo" style="width:100px; height:100px; object-fit:contain; background-color:#fff; border-radius:5px;">
            </a>                       
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="{% url 'lab_app:home_page_view' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown dropdown-hover">
                    <a
                        class="nav-link dropdown-toggle fw-bold"
                        href="#"
                        id="peopleDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        People
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="peopleDropdown">
                        <li><a class="dropdown-item" href="{% url 'lab_app:all_people_list' %}">All</a></li>
                        <li><a class="dropdown-item" href="{% url 'lab_app:category_people_list' category_name='Teachers' %}">Teachers</a></li>
                        <li><a class="dropdown-item" href="{% url 'lab_app:category_people_list' category_name='Honors Students' %}">Honors</a></li>
                        <li><a class="dropdown-item" href="{% url 'lab_app:category_people_list' category_name='Masters Students' %}">Master's</a></li>
                        <li><a class="dropdown-item" href="{% url 'lab_app:category_people_list' category_name='PhD Students' %}">PhD</a></li>
                        <li><a class="dropdown-item" href="{% url 'lab_app:category_people_list' category_name='M Fill Students' %}">M Fill</a></li>
                        <li><a class="dropdown-item" href="{% url 'lab_app:category_people_list' category_name='Alumni' %}">Alumni</a></li>
                    </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="{% url 'lab_app:publication_list' %}">Publications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="{% url 'lab_app:news_list' %}">News & Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="{% url "lab_app:about" %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="{% url 'lab_app:central_contact' %}">Contact</a>
                    </li>
                    {% if user.is_authenticated and user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="{% url 'lab_app:banner_image_upload' %}">Lab Image</a></li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="{% url 'lab_app:add_category' %}">Add Category</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="{% url 'lab_app:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="{% url 'lab_app:login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="#">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
      <!-- Navbar -->

    <!--Section: Design Block--> 
    {% comment %} <section>
        <!-- Intro -->
        <div id="intro" class="bg-image vh-100" style="
            background-image: url('https://media.istockphoto.com/id/1209968955/photo/sars-cov-2-pcr-diagnostics-kit-epidemiologist-in-protective-suit-mask-and-glasses-works-with.webp?b=1&s=170667a&w=0&k=20&c=MtMaFXqQ_IeVdGHsxAUlGnvUQD--qVBMdMGKFHpLsfk=');
            background-repeat: no-repeat;
            background-size: cover;">
        <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);"></div>
    </div>

        <!-- Intro -->
    </section>
    <!--Section: Design Block--> {% endcomment %}
</header>
