<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
        <div class="container">
            <a class="navbar-brand" href="#!"><span style="color: #5e9693;">Research</span><span style="color: #18EF74;">Lab</span></a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="#!">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-bold" href="#!" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            People
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">Honors</a></li>
                            <li><a class="dropdown-item" href="#!">Master's</a></li>
                            <li><a class="dropdown-item" href="#!">PhD</a></li>
                            <li><a class="dropdown-item" href="#!">M Fill</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="#!">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="#!">Contact</a>
                    </li>
                    {% if user.is_authenticated and user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="{% url 'lab_app:banner_image_upload' %}">Lab Image</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="{% url 'lab_app:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="{% url 'lab_app:login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="#!">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="#!">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="#!">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

    <!--Section: Design Block--> 
    {% comment %} <section>
        <!-- Intro -->
        <div id="intro" class="bg-image vh-100" style="
                background-image: url('https://mdbootstrap.com/img/Photos/new-templates/psychologist/img1.jpg');
              ">
            <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);"></div>
        </div>
        <!-- Intro -->
    </section>  {% endcomment %}
    <!--Section: Design Block-->
</header>
