{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="header-section p-5 mb-4 text-center text-white">
        <h2>Projects by {{ author.name }}</h2>
    </div>
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4 shadow-sm project-card">
                <img src="{{ project.project_image.url }}" class="card-img-top" alt="{{ project.project_title }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-primary">{{ project.project_title }}</h5>
                    <p class="card-text text-secondary">{{ project.project_description|truncatewords:20 }}</p>
                    <p class="card-text"><small class="text-muted">{{ project.stat_date }} - {{ project.end_date }}</small></p>

                    <a href="{% url 'lab_app:project_detail' project.id %}" class="btn btn-outline-primary mt-auto">
                        More
                    </a>
                    
                    <div class="collapse mt-3" id="projectDetails{{ forloop.counter }}">
                        <p>{{ project.project_description }}</p>
                        <p><strong>Department:</strong> {{ project.department }}</p>
                        <p><strong>Funding Authority:</strong> {{ project.funding_authority }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
