{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 pt-3">
    <div class="header-section p-5 mb-4 text-center text-white bg-primary">
        <h2>Publications by {{ author.name }}</h2>
    </div>
    <div class="row">
        {% for publication in publications %}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4 shadow-sm publication-card">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-primary">{{ publication.title }}</h5>
                    {% if publication.doi_link %}
                    <a href="{{ publication.doi_link }}" target="_blank" class="btn btn-outline-primary mt-auto">View DOI</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p>No publications found for this author.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
