{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">{{ category.category }} Research</h1>
    <div class="row">
        {% for profile in profiles %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    {% if profile.profile_photo %}
                        <img src="{{ profile.profile_photo.url }}" class="card-img-top" alt="{{ profile.name }}">
                    {% else %}
                        <img src="{% static 'default-profile.png' %}" class="card-img-top" alt="Default profile picture">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ profile.name }}</h5>
                        <p class="card-text"><strong>Position:</strong> {{ profile.position }}</p>
                        <p class="card-text"><strong>Affiliation:</strong> {{ profile.affiliation }}</p>
                        <p class="card-text"><strong>Category:</strong> {{ profile.category.category }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
