{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="text-center bg-warning m-5 p-4">         
    <div class="d-flex justify-content-center mt-2 text-decoration-none">
        <div class="m-3">
            <a class="fw-bold" href="#">Education</a>
        </div>
        <div class="nav-item dropdown m-3">
            <a class="nav-link dropdown-toggle fw-bold" href="#!" id="navbarDropdown" role="button" aria-expanded="false">
                Research
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Researches</a></li>
                <li><a class="dropdown-item" href="{% url 'lab_app:author_projects' profile.id %}">Publications</a></li>
                <li><a class="dropdown-item" href="{% url 'lab_app:author_projects' profile.id %}">Projects</a></li>
            </ul>
        </div>
        <div class="m-3">
            <a class="fw-bold" href="#">Contact</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="bio-card">
            <img src="{{ profile.profile_photo.url }}" alt="{{ profile.name }}" class="profile-image mb-3">
            <h5>{{ profile.name }}</h5>
            <p>{{ profile.position }}</p>
            <p>{{ profile.affiliation }}</p>
        </div>
    </div>

    <div class="col-md-6">
        <h2>Biography</h2>
        <p class="text-justify-custom">{{ profile.biography }}</p>
        <div>
            <a target="_blank" href="{{ profile.google_scholar }}">
                <p class="text-justify-custom">Google Scholar: {{ profile.google_scholar }}</p>
            </a>
            <a target="_blank" href="{{ profile.research_gate }}">
                <p class="text-justify-custom">Research Gate: {{ profile.research_gate }}</p>
            </a>
        </div>
        
    </div>

    <div class="col-md-3">
        <h2>Research Interest</h2>
        <ul class="research-interest">
            <li>Artificial Intelligence</li>
            <li>Image Processing</li>
            <li>Smart Farming</li>
        </ul>
    </div>
</div>

{% endblock content %}
